/* ------------------------ ALL ------------------------ */
body
{
    margin: 0;
    padding: 0;
}
h3
{
   font-weight: bold;
   font-size: 2.3vw;
   margin: 0 0 5%;
   font-family: sans-serif;
   color: #717171;
}
/* ------------------------ LIST ------------------------ */
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
}
li
{
    float: right;
}
li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;;
    text-decoration: none;
}
li a:hover
{
    background-color: #111;
}
.nav
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
/* ----------------------------FOOTER---------------------------- */
footer
{
border-radius: 10px;
height: 10%;
width: 100%;
background-color: #444;
margin: 0;
position: relative;;
bottom: 0;
}
footer h1
{
    color: #fff;
    text-align: center;
}
.copy
{
    text-align: center;
    font-weight: bold;
    color: #777;
}

.msg_err
{
    color: red;
    font-size: 1.3vw;
}
/* ----------------------------CAMERA--------------------------- */
#video
{
  border-style: solid;
  border-radius: 10px;
  margin-left: 2%;
  margin-top: 0.5%;
}
#snap
{
    width: 25%;
    height: 4%;
    border-radius: 20px 20px;
    background: #333;
    color: #fff;
    font-weight: bold;
    font-size: 1.3vw;
    transition: all 0.3s ease-in 0s;
    padding: 2% 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}
.upload
{
    width: 25%;
    height: 4%;
    border-radius: 20px 20px;
    background: #333;
    color: #fff;
    font-weight: bold;
    font-size: 1.3vw;
    transition: all 0.3s ease-in 0s;
    padding: 2% 2%;
}
#canvas
{
  border-style: solid;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

#file
{
    width: 25%;
    height: 4%;
    border-radius: 20px 20px;
    background: #333;
    color: #fff;
    font-weight: bold;
    font-size: 1.3vw;
    transition: all 0.3s ease-in 0s;
    padding: 2% 2%;
    margin-left: 2%;
}
#t
{
    width: 25%;
    height: 4%;
    border-radius: 20px 20px;
    background: #333;
    color: #fff;
    font-weight: bold;
    font-size: 1.3vw;
    transition: all 0.3s ease-in 0s;
    padding: 2% 2%;
}
.diiv
{
    width: 25%;
    height: 4%;
    border-radius: 20px 20px;
    background: #333;
    color: #fff;
    font-weight: bold;
    font-size: 1.3vw;
    transition: all 0.3s ease-in 0s;
    padding: 2% 2%;
    margin-top: 3%;
    margin-left: 10%;
}
.addEmo
{
    font-size: 100%;
}
.tt
{
    width: 70%;
    height: 4%;
    border-radius: 20px 20px;
    background: #333;
    color: #fff;
    font-weight: bold;
    font-size: 1.3vw;
    transition: all 0.3s ease-in 0s;
    padding: 2% 2%;
    margin-bottom: 4%
}
#sticker
{
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
}
.r
{
    position: relative;
    width: 640px;
    height: 480px;
    margin-left: 3%;
}
#stickers
{
    position: absolute;
    display: block;
    top: 30px;
    left: 30px;
}
.no
{
    margin-top: 2%;
}
.right
{
    width: 300px;
    height: 480px;
    border: 2px solid black;
    float: right;
    margin-top: 1%;
    margin-right: 2%;
    border-radius: 10px;
    overflow:auto;
}
.msg_err
{
    color: red;
    font-size: 1.3vw;
    margin-left: 25%;
}
#up_file-2
{
    width: 25%;
    height: 4%;
    border-radius: 20px 20px;
    background: #333;
    color: #fff;
    font-weight: bold;
    font-size: 1.3vw;
    transition: all 0.3s ease-in 0s;
    padding: 2% 2%;
}