body
{
    margin: 0;
}
section
{
    margin-top: 10%;
}
.a ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
}
.a li
{
    float: right;
}
.a li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.a li a:hover
{
    background-color: #111;
}
.nav ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  border-radius: 10px;
  width: 80%;
}
.nav li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
.nav li a:hover
{
    background-color: #111;
}
/* ----------------------------FOOTER---------------------------- */
footer
{
border-radius: 10px;
height: 260px;
width: 100%;
background-color: #444;
margin: 0;
position: fixed;
bottom: 0;
}
footer h1
{
	color: #fff;
	text-align: center;
	padding-top: 80px;
}
.copy
{
	text-align: center;
	font-weight: bold;
	padding-top: 30px;
	color: #777;
}